.module__paginator-test {
    margin-top: 57px;
    .disabled-test {
        display: inline-flex;
        margin: -4px;
        a {
            background: transparent;
            border-radius: 0px !important;
            border: 2px solid #a0a0a0;
            padding: 8px 29px;
            text-decoration: none;
            color: #a0a0a0;
            &:hover {
                background: transparent;
                color: #a0a0a0;
            }
        }
    }

    .error-test {
        cursor: pointer !important;
        a {
            cursor: pointer !important;
            border: 2px dashed #56363b;
            color: #56363b;
            &:hover {
                border: 2px dashed #56363b;
                color: #56363b;
            }
        }
    }
    .good-test {
        cursor: pointer !important;
        a {
            cursor: pointer !important;
            border: 2px solid #232323;
            color: #232323;
            &:hover {
                border: 2px solid #232323;
                color: #232323;
            }
        }
    }
    .active-test {
        a { 
            background: transparent;
            cursor: pointer !important;
            border: 2px solid #fff;
            padding: 8px 37px;
            text-decoration: none;
            color: #fff;
            font-size: 21px !important;
            font-family: 'Open Sans', sans-serif;
            font-style: italic; 
            font-weight:  800; 
            &:hover {
                background: transparent;
                color: #fff;
            }
        }
    }
}
.mobile-pagination{
	margin-top: 10px;

	font-size: 16px;
	color: #fff;
}