.module__quest {
    color: #fff;
    margin-top: 16px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    @media (max-width: $screen-xs-max) {
        font-size: 14px;
    }
}

.module__answer {
    font-size: 15px;
    margin-top: 19px;
    padding-right: 1px;
    text-transform: uppercase;
    letter-spacing: 0px;
    .red-text {
        color: #431920 !important;
    }
    span {
        color: #fff;
    }
    @media (max-width: $screen-xs-max) {
        font-size: 12px;
    }
}
.module__answer-text{
display: inline;
}

.module__answer-font_litel {
    font-size: 12px;
    @media (max-width: $screen-xs-max) {
        font-size: 10px;
    }
}

.module__button_close {
    background: url('../images/test/buttom-close-back.jpg') no-repeat center;
    background-size: cover;
    ;
    border: 1px dashed #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 12px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.module__answer-choice {
    cursor: pointer;
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 70px 11px 74px;
    width: 212px;
    font-size: 23px;
    display: inline-block;
    margin-top: 13px;

    @media (max-width: $screen-xs-max) {
        width: 100%;
        text-align: center;
        font-size: 16px;
       
    }
}
/*btn*/
// .module__answer-choice-good {
//     border: 2px solid #191919;
//     color: #191919;
// }

// .module__answer-choice-error {
//     border: 2px dashed #4f2e33;
//     color: #4f2e33;
// }




.module__answer-choice2 {
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid #fff;
    width: 300px;
    min-height: 120px;
    display: inline-table;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    padding-top: 26px;
    margin-top: 38px;
    margin-left: 4px;
    margin-right: 12px;
    cursor: pointer;
    border-radius: 0px !important;
    
    @media (max-width: $screen-xs-max) {
    width: 95%;
    margin-top: 10px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    

    }
}

.fix-quest{
    font-size: 22px;
   
    @media (min-width: $screen-xs-max) and (max-width: $screen-sm-max){
        font-size: 19px;
    }



}