.open-sans-exboltit{
	    font-family: 'Open Sans', sans-serif;
        font-style: italic; 
        font-weight:  800; 
}
.open-sans-exbolt{
	    font-family: 'Open Sans', sans-serif;
        font-style: normal; 
        font-weight:  800; 
}
.open-sans-lite{
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   font-style: normal; 
}
.open-sans-lite-it{
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   font-style: italic; 
}
.open-sans-regular{
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
   font-style: normal; 
}
.open-sans-norm-it{
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   font-style: italic; 
}