/*score box*/
.module__score {
    text-align: center;
    border: 2px solid #fff;
    margin-top: 50px;
    padding-bottom: 20px;
    min-height: 170px;
}

.module__score-title {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

.module__score--part{
   font-size: 20px;
   text-align: center;
   color: #fff;
   margin-top: 20px;
    @media (max-width: $screen-xs-max) {
         font-size: 15px;
    }
}

.module__score-box {
    margin-top: 10px;
    min-height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px dashed #fff;
    margin-right: 5px;
    margin-left: 5px;
}

.module__part__logo {
    width: 100px;
}

.custom-pd {
    padding-left: 15px;
    padding-right: 15px;
    @media (max-width: $screen-xs-max) {
        padding-left: 0px;
        padding-right: 0px;
    }
}
/*cards*/
.module__card {
    margin-top: 10px;
    position: relative;
    cursor: move;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    background: #fff;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: 20px;
    min-height: 250px;
    &__img {
        width: 100%
    }
    &__text {
        padding-top: 15px;
        text-transform: uppercase;
        font-size: 12px;
        color: #000;
    }
}

.pt-20 {
    padding-top: 20px;
}

.module__card-inbox {
    width: 100%;
}

.module__card-inbox>.module__card {
    min-height: 70px;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    margin-top: 10px;
    img {
        display: none;
    }
    p {
        padding-top: 5px;
        padding-bottom: 5px;
        text-transform: uppercase;
        color: #000;
    }
}
/* bnt_solution */
.btn_solution {
    cursor: pointer;
    font-size: 30px;
    color: #fff;
    border: 2px solid #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    display: -webkit-inline-box;
    margin-top: 30px;
    &:hover {
        text-decoration: none;
        color: #000;
    }
}


/*mob ver */

.hover_scr_on_mob {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    right: 0px;
    top: 0px;
    visibility: visible;
    opacity: 0.9;
    transition: all 2s;
    text-align: center;
    &__text {
        font-size: 20px;
        text-transform: uppercase;
        color: #fff;
        padding-right: 10px;
        padding-left: 10px;
        margin-top: 150px;
    }
}

.btn_on_help_scr {
    font-size: 30px;
    display: inline-block;
    border: 2px solid #fff;
    color: #fff;
    margin-top: 100px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: #fff;
    }
    &:focus {
        text-decoration: none;
        color: #fff;
    }
}

.hover_scr_on_mob-no {
    visibility: hidden;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: all 1s;
    opacity: 0;
    z-index: 50;
}

.hover_scr_on_mob-left {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    right: 100%;
    top: 0px;
    visibility: hidden;
    opacity: 0;
    transition: all 2s;
    text-align: center;
    &__text {
        font-size: 20px;
        text-transform: uppercase;
        color: #fff;
        padding-right: 10px;
        padding-left: 10px;
        margin-top: 50px;
    }
}

.hover_scr_on_mob-left-on {
    visibility: visible;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0.8;
    z-index: 50;
}

.hover_scr_on_mob-left__partia {
    border: 2px solid #fff;
    color: #fff;
    margin-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    margin-left: 15px;
    margin-right: 15px;
    &:hover {
        text-decoration: none;
        color: #fff;
    }
}

.choice_cart {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: #000;
    top: 0px;
    left: 0px;
    .choice_cart-name {
        font-size: 20px;
        margin-top: 70px;
        color: #fff;
        text-transform: uppercase;
    }
    .choice_cart__bnt_cansel {
        color: #fff;
        border: 2px dashed #fff;
        font-size: 20px;
        margin-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-right: 15px;
        margin-left: 15px;
    }
}
